@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
    width: 100%;
}

/*--------- topo ---------------*/
.topo{
    display: none;
}

/* 
.topo .box-redes-sociais{
    display: flex;
    background: transparent;
    justify-content: flex-end;
    gap: 16px;
    padding: 10px 20px;
}

.topo .box-redes-sociais a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    overflow: hidden;
}

.topo .box-redes-sociais li{
    list-style: none;
}*/

.header{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
} 
 

/*----------------- logo --------------*/

header .img-logo{
    display: flex;
    gap: 15px;
    padding: 0 20px;
}

header .img-logo #logo_imrea{
    width: 40%;
    
}

header .img-logo #logo_hc{
    width: 16%;
}

/*---------- menu mobile ---------------*/

.btn-abrir-menu .icon{
    color: #E44D1F;
    font-size: 32px;
    display: block;
    margin-right: 20px;
}

.btn-abrir-menu .icon:focus{
    outline: 2.5px solid #000;
}

.menu-mobile{
    background: #E44D1F;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    display: block;
}
.menu-mobile.abir-menu{
    width: 50%;
}

.menu-mobile.abir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar .icon{
    color: white;
    font-size: 30px;
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul{
    text-align: right;
    list-style-type: none;
    text-decoration: none;
}

.menu-mobile nav ul li a{
    color: white;
    font-optical-sizing: auto;
    font-size: 20px;
    padding: 20px 8%;
    gap: 70px;
    display: block;
    text-decoration: none;
}
.menu-mobile nav ul li a:hover{
    background-color: white;
    color: #E44D1F;
}

.menu-mobile nav button{
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 36px;
    margin: 0 2%;
    font-size: 16px;
    align-items: center;
    color: #2C2C2C;
}

.menu-mobile nav button img{
    margin-right: 6%;
}

.overlay-menu{
    background-color: #0000009c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}


/*--------------- container topo ---------------*/

.container-topo{
    display: flex;
    flex-direction: column;
    padding: 0 4%;
    padding-top: 20%;
}

.container-topo .text h1{
    font-size: 28px;
    font-weight: 700;
    color: #2C2C2C;
}

.container-topo .text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-topo .text h1 span{
    color: #E44D1F;
    font-weight: 700;
}

.container-topo .text p{
    font-size: 20px;
    color: #2C2C2C;
}

.container-topo .text button{
    background-color: #E44D1F;
    padding: 8px 48px;
    border: none;
    border-radius: 12px;
}

.container-topo .text button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.container-topo .text button:hover{
    background-color: #e44d1fd0;
}

.container-topo .text button:focus{
    outline: 2.5px solid #000;
    background-color: #e44d1fd0;
}

/*--------------- grid topo -------------*/

.container-topo .grid-topo{
    display: grid;
    grid-template-areas: 
    "column1 column2 column3";
    margin: 10% 5px;
    justify-content: center;
}

.container-topo .grid-topo .column1 img{
    width: 100%;
}

.container-topo .grid-topo .column1 .circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FACA7D;
}

.container-topo .grid-topo .column2 img{
    width: 200px;
}

.container-topo .grid-topo .column3 img{
    width: 100%;
}

.container-topo .grid-topo .column3 .squad{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: #E99FB9;
}

/*--------- container-teleconsulta ------------*/

.container-teleconsulta{
    margin: 0 4%;
}

.container-teleconsulta .text h2{
    font-size: 20px;
    font-weight: 700;
    color: #2C2C2C;
}

.container-teleconsulta .text p{
    font-size: 16px;
    color: #2C2C2C;
    margin: 4% 0;
}

.container-teleconsulta .gp-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 4% 0;
}

.container-teleconsulta .gp-details .details{
    background-color: #E44D1F;
    color: #fff;
    border-radius: 8px;
    padding: 16px;
}

.container-teleconsulta .gp-details .details h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4%;
}