
/*-------------- banner ------------*/

.banner{
    
    color: #fff;
    padding-top: 70px;
}

.banner h1{
    background-color: #E44D1F;
    padding: 64px;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}



/*----------------- seção sobre nós ------------------------*/

.sobre-text{
    background-color: #E44D1F;
    color: #fff;
    text-align: center;
    padding: 24px 24px;
    margin: 24px 4%;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.sobre-text h2{
    background-color: #fff;
    display: inline-block;
    padding: 4px 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #E44D1F;
    border-radius: 16px;
}

.sobre-text p{
    padding-top: 10px;
    font-size: 1.4rem;
}


/*---------------- seção nosso  objetivo --------------*/

.nosso-obj{
    display: flex;
    flex-direction: column;
    margin: 4%;
    gap: 16px;
    align-items: center;
}

.nosso-obj h2{
    background-color: #E44D1F;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.nosso-obj p{
    font-size: 1.4rem;
}

.nosso-obj img{
    width: 200px;
}