/*------------------------ text ---------------------*/
.text-topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;
    padding: 96px 0 0;
}

.text-topo h1{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    
}

.text-topo p{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 16px;
    max-width: 600px;
    margin: 0 auto;
}


/*------------------------ passos ---------------------*/

.container-passo{
    margin: 20px 24px;
}

.container-passo .passo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #727272;
    border-radius: 24px;
    padding: 20px;
    max-width: 520px;
    gap: 40px;
}

.container-passo .info-passo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
}

.container-passo .info-passo h2{
    font-size: 2rem;
    font-weight: 600;
}

.container-passo .info-passo p{
    font-size: 1.6rem;
}

.container-passo .info-passo a{
    background-color: #E44D1F;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

a.pulsante {
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
}


a.pulsante {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(228, 77, 31, 0.4);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(228, 77, 31, 0.6);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(228, 77, 31, 0.4);
    }
}

.container-passo img{
    width: 100px;
}

